.table-container {
  max-height: 400px; /* Set max height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-bottom: 20px; /* Add space below the main table */
}

.table-container::-webkit-scrollbar {
  width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f4f4f4;
}

.selected-rows-container {
  margin-top: 20px;
  text-align: center; /* Center the submit button */
}

.selected-rows-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.selected-rows-table th,
.selected-rows-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.selected-rows-table th {
  background-color: #f4f4f4;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 24px 10px;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.submit-button:active {
  background-color: #004494; /* Even darker blue on click */
  outline: none;
}

.submit-button:focus {
  outline: none;
}
