.sidebar-content {
  padding: 20px;
}

.sidebar-content h2 {
  margin-bottom: 20px;
}

.sidebar-content select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
